@model  IEnumerable<Metra_Development.DailyNew>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-phone-sans/css/bpg-phone-sans.min.css">
<link href="~/Content/NewsStyle.css" rel="stylesheet" />



<div class="container text-center" style="margin-top:20px; "><strong style="font-size:62px;">სიახლეები</strong></div>

<div class="container" style="margin-top:20px">
    @foreach (var item in @Model)
            {
                string link = "/Content/Images/" + item.Photo + ".png";
        <div class="row" style="margin-top:25px;">
            <div class="col-md-3">
                <img src="@link" style="width:100%"/>
            </div>
            <div class="col-md-9">
                <div class="Div-for-News">@item.Title</div>
                <div style="margin-top:17px;">@item.Text.Substring(0,300)...</div>
                <div style="margin-top:32px">@item.CreateDate.ToString().Split(' ')[0] <span style="float:right; flood-color:black; font-weight:900;"><a href="/Home/DetailNews/@item.ID">დეტალურად</a></span></div>
            </div>
        </div>
        <hr />
    }

</div>


