
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<style>
    .about {
        margin-left:144px;
    }
    .bigtitle {
        margin-top:40px;
    }
    .smalltitle {
        margin-top:34px;
    }
  
        .partners ul.list {
            list-style: none;
        }
    .partners {
        width: 920px;
        padding-top: 110px;
        margin: 0 auto 50px;
        margin-bottom: 700px;
    }
        .partners .title {
            padding: 0 0 60px;
        }
        .partners ul.list li {
            float: left;
            margin: 0 5px 28px;
        }
    article {
        background: url(http://metra.ge/images/about_bg.png) right 101px no-repeat;
    }
   .text {
       font-size: 25px;
       font-weight: normal;
   }
    
</style>
<section class="about">

    <article id="metra-development">
        <hgroup>
            <h1 class="bigtitle">მეტრა დეველოპმენტი</h1>
            <h3 class="smalltitle">კეთილდღეობა იზომება რიცხვებში</h3>
        </hgroup>

        <div class="text">
            <p>კომპანია “მეტრა დეველოპმენტი” დაფუძნებულია „მეტრა ჯგუფის“ მიერ, რომელიც 10 წელიწადზე<br />
            მეტია რაც ევროპის უძრავი ქონების ბაზარზე წარმატებით ოპერირებს.<br />
            “მეტრა ჯგუფი”-ს საერთაშორისო გამოცდილება სასარგებლოდ აისახება საქართველოში კომპანია “მეტრა დეველოპმენტი”-ს<br />
            უკვე განხორციელებულ და მიმდინარე პროექტებზე. </p><br />

            <p>„მეტრა დეველოპმენტმა“ წარმატებით დაასრულა ისეთი საცხოვრებელი ბინები თბილისში,<br />
            როგორიცაა „პარკ თაუერი“ (ი.ჭავჭავაძის 78), „პარკ სტრიტი“ (ი. ჭავჭავაძის 80) და „მეტრა ვარკეთილი“ (მაისურაძის 11)</p><br />

            <p>დღეისათვის კომპანია ახორციელებს მრავალსახლიანი საცხოვრებელი კომპლექსის „მეტრა პარკის“ მშენებლობას თბილისში,<br />
            ვაკის რაიონში, კერძოდ ბაგებში. პროექტი დაფუძნებულია ეკოლოგიურად სუფთა,<br />
            მაღალი ხარისხის სამშენებლო მასალებისაგან შემდგარი საცხოვრებელი კომპლექსის კონცეფციაზე,<br />
            სადაც ოპტიმალური დაგეგმარების ხარჯზე, შესაძლებელია სასურველი ფართის მქონე ბინის შეძენა.</p><br />

            <p>„მეტრა დეველოპმენტი“ ქმნის ეკოლოგიურად სუფთა უბანს თბილისში და მისი ფილოსოფია დაფუძნებულია<br />
            ახალი ტექნოლოგიების დანერგვაზე, მომხმარებლისათვის კომფორტის შექმნასა და უსაფრთხო გარემოს უზრუნველყოფაზე.<br />
            კომპანია მუდმივად ისწაფვის განვითარებისაკენ და ნერგავს სიახლეებს სამშენებლო ბაზარზე.<br />
            
            მკაცრად დაცული მშენებლობის ვადები, მაღალხარისხიანი სამშენებლო მასალები, <br />
            ენერგოეფექტური პროექტები და მომხმარებელზე მორგებული გადახდის პირობები ქმნის კომპანია „მეტრა დეველოპმენტს“ <br />
            კონკურენტულს სამშენებლო ბაზარზე. </p>
        </div>
    </article>


    <div class="partners" id="partners">

        <h2 class="title">ჩვენი პარტნიორები</h2>

        <ul class="list cl">
            <li>
                <a href="http://metragroup.ru/" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_1_1432152928219363.jpg">
                </a>
            </li>
            <li>
                <a href="http://www.artstudio.ge/" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_3_1432155062841380.jpg">
                </a>
            </li>
            <li>
                 <a href="http://www.artstudio.ge/" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_4_1432155085552111.jpg">
                 </a>
            </li>
            <li>
                <a href="http://propertygeorgia.ge/" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_6_1466081485334163.png">
                </a>
            </li>
            <li>
                <a href="http://www.tbcbank.ge/web/ka" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_7_1483690012205430.gif">
                </a>
            </li>
            <li>
                <a href="http://bankofgeorgia.ge/ge/bank/our-brand/symbol" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_9_1496125277273894.jpg">
                </a>
            </li>
            <li>
                <a href="http://bellemaison.ge/" target="_blank">
                    <img src="http://metra.ge/images/partners/Logo_10_1496125397198208.png">
                </a>
            </li>
        </ul>
    </div>

</section>