@model Metra_Development.Models.Projects

@{
    ViewBag.Title = "AddProject";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/NewsStyle.css" rel="stylesheet" />
<form class="w3-container" action="/Projects/AddProject" method="post" >
    <div class="w3-card-4">
        <div class="w3-container w3-brown">
            <h2 class="text-center">პროექტის დამატება</h2>
        </div>
        <p>
            <label class="w3-text-brown" style="margin-left:7px;"><b>სახელი</b></label>
            <input class="w3-input w3-border w3-sand" name="Name" type="text">
        </p>
        <p>
            <label class="w3-text-brown" style="margin-left:7px;"><b>მისამართი</b></label>
            <input class="w3-input w3-border w3-sand" name="Address" type="text">
        <p>
            <button class="w3-btn w3-green" type="submit" >პროექტის დამატება</button>
        </p>
    </div>
    
    <a style="margin-top:85px;" href="/Projects/Index"><i class="glyphicon glyphicon-arrow-left" style="color:green; margin-top:24px; font-size:42px;"></i></a>
    <div class="form-group error" style="font-size: 18px; color: red;">
        @ViewBag.Error
    </div>

</form>

<script src="~/Content/metra/HTML/vendor/jquery.min.js"></script>