@model Metra_Development.Models.RoomCustom

@{
    ViewBag.Title = "AddRoom";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/NewsStyle.css" rel="stylesheet" />

<form class="w3-container" action="/Projects/AddRoom" method="post" enctype="multipart/form-data">
    <div style="margin-top:50px;">
        <div class="w3-card-4">
            <div class="w3-container w3-brown">
                <h2 class="text-center">ოთახის დამატება</h2>
            </div>
                <p>
                <label class="w3-text-brown" style="margin-left:7px;"><b>ბინა</b></label>
                <div class="form-group">
                    @Html.DropDownList("ApartmentID", new SelectList(ViewBag.getApartmentlist, "ID", "ApartamentID_FloodID_HouseID_ProjectName"), new { @class = "form-control" })
                </div>
                </p>
                  <p>
                <label class="w3-text-brown" style="margin-left:7px;"><b>სახელი</b></label>
                <div class="form-group">
                    <input type="text" class="form-control w3-input w3-border w3-sand" name="Name" placeholder="ოთახის სახელი" />
                </div>
                </p>
                 <p>
                <label class="w3-text-brown" style="margin-left:7px;"><b>ფართი</b></label>
                <div class="form-group">
                    <input type="number" class="form-control w3-input w3-border w3-sand" name="Area" placeholder="ოთახის ფართი" />
                </div>
                <p>
                <div class="form-group">
                    <button class="w3-btn w3-green" type="submit">ოთახის დამატება</button>
                </div>
                    </p>
                </div>
                <a style="margin-top:45px;" href="/Projects/Index"><i class="glyphicon glyphicon-arrow-left" style="color:green; margin-top:24px; font-size:42px;"></i></a>
                <div class="form-group " style="font-size: 18px; color: red;">
                    @ViewBag.Error
                </div>
        </div>
</form>