
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminPanelLayout.cshtml";
}
<div style="margin-top:50px;">
    <div >
        <label>პროექტის დამატება</label>
        <a href="/Projects/AddProject"><i class="glyphicon glyphicon-plus" style="color:green; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
        <a href="/ProjectManager/DeleteProject"><i class="glyphicon glyphicon-minus" style="color:red; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
    </div>
    <div>
        <label>კორპუსის დამატება</label>
        <a href="/Projects/AddHouse"><i class="glyphicon glyphicon-plus" style="color:green; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
        <a href="/ProjectManager/DeleteHouse"><i class="glyphicon glyphicon-minus" style="color:red; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
    </div>
    <div>
        <label>სართულის დამატება</label>
        <a href="/Projects/AddStorey"><i class="glyphicon glyphicon-plus" style="color:green; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
        <a href="/ProjectManager/DeleteHouse"><i class="glyphicon glyphicon-minus" style="color:red; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
    </div>
    <div>
        <label>ბინის დამატება</label>
        <a href="/Projects/AddApartment"><i class="glyphicon glyphicon-plus" style="color:green; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
        <a href="/ProjectManager/DeleteHouse"><i class="glyphicon glyphicon-minus" style="color:red; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
    </div>
    <div>
        <label>ოთახის დამატება</label>
        <a href="/Projects/AddRoom"><i class="glyphicon glyphicon-plus" style="color:green; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
        <a href="/ProjectManager/DeleteHouse"><i class="glyphicon glyphicon-minus" style="color:red; font-size:25px; margin-left:12px; margin-top:20px; padding-top:10px;"></i></a>
    </div>
    

</div>